<div style="padding-bottom: 10px;">

    <div ng-if="!notpageable" class="row">
        <div class="col-md-5" style="line-height: 36px;">
            每页显示
            <select ng-if="!pageableConfig" data-ng-model="pageable.size" convert-to-number>
                <option value="10" >10</option>
                <option value="25">25</option>
                <option value="50" selected>50</option>
                <!--<option value="100">100</option>-->
            </select>
            <select ng-if="pageableConfig" data-ng-model="pageable.size" convert-to-number>
                <option value="{{pageableConfig.first}}" selected="selected" ng-bind="pageableConfig.first"></option>
                <option value="{{pageableConfig.second}}" ng-bind="pageableConfig.second"></option>
                <option value="{{pageableConfig.third}}" ng-bind="pageableConfig.third"></option>
                <option value="{{pageableConfig.forth}}" ng-bind="pageableConfig.forth"></option>
            </select>
            条记录，当前显示 {{pageable.fromNumber}} 到 {{pageable.toNumber}} 条，共 {{pageable.totalElements}} 条记录
        </div>
        <div class="col-md-7">
            <uib-pagination
                    total-items="pageable.totalElements"
                    ng-model="pageable.number"
                    items-per-page="pageable.size"
                    max-size="5"
                    class="pull-right table-pagination">
            </uib-pagination>
        </div>
    </div>


    <div class="table-scrollable table-scrollable-id">
        <table class="table table-bordered table-hover ng-table tableMain" >
            <thead class="thead">
            <tr class="thead-main-tr">
                <th data-ng-repeat="column in columns" width="{{column.width}}"
                    rowspan="{{column.parent?1:2}}"
                    data-ng-if="undefined === column.parent || (undefined !== column.parent && undefined !== column.parent.col)"
                    colspan="{{column.parent.col?column.parent.col:1}}">
                    {{column.parent?column.parent.label:column.label}}
                </th>
            </tr>
            <tr>
                <th data-ng-repeat="column in columns" data-ng-if="undefined !== column.parent" width="{{column.width}}">
                    {{column.label}}
                </th>
            </tr>
            </thead>

            <tbody>
            <tr data-ng-if="isEmpty(rows)">
                <td colspan="{{columns.length}}">
                    <div style="text-align: center;">
                        <span>无数据</span>
                    </div>
                </td>
            </tr>
            <tr data-ng-if="!isEmpty(rows)" ng-repeat="row in rows" ng-init="outerIndex = $index" data-ng-click="onRowClicked(row, $event)">
                <td ng-repeat="column in columns" style="white-space:nowrap;">
                    <span data-ng-if="typeOf(column) === 'seq'" ng-bind="pageable ? ((pageable.number) * pageable.size + outerIndex + 1) : (outerIndex+1)"></span>
                    <input data-ng-if="typeOf(column) === 'checkbox'" type="checkbox" data-ng-model='row.chk'
                           data-ng-change="onCheckboxChecked(row)"/>
                    <input data-ng-if="typeOf(column) === 'radio'" type="radio"
                           name="ngRadio"
                           data-ng-click="onRadioChecked($event, row)"/>
                    <div data-ng-if="typeOf(column) === 'template'" data-ng-include="column.templateUrl"></div>
                    <div data-ng-if="column.filter && typeOf(column) !== 'complex'"
                         data-ng-bind-html="row[column.name] | ngTableFilter: column.filter "></div>
                    <div data-ng-if="typeOf(column) === 'complex'" data-ng-bind-html="row | ngTableFilter: column.filter "></div>
                    <span data-ng-if="isOutput(column)"> {{row[column.name]}}</span>
                </td>
            </tr>
            <tr class="embed-table" style="display: none;">
                <td colspan="{{columns.length}}">
                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover ng-table">
                            <thead>
                            <tr>
                                <th data-ng-repeat="column in embed.columns" width="{{embed.column.width}}">
                                    {{column.label}}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-if="!isEmpty(embed.rows)" ng-repeat="row in embed.rows" ng-init="outerIndex = $index">
                                <td ng-repeat="column in embed.columns">
                                    <span data-ng-if="typeOf(column) === 'seq'" ng-bind="(pageable.number) * pageable.size + outerIndex + 1"></span>
                                    <input data-ng-if="typeOf(column) === 'checkbox'" type="checkbox" data-ng-model='row.chk'
                                           data-ng-change="onCheckboxChecked($event, row)"/>
                                    <div data-ng-if="typeOf(column) === 'template'" data-ng-include="column.templateUrl"></div>
                                    <div data-ng-if="column.filter && typeOf(column) !== 'complex'"
                                         data-ng-bind-html="row[column.name] | ngTableFilter: column.filter "></div>
                                    <div data-ng-if="typeOf(column) === 'complex'" data-ng-bind-html="row | ngTableFilter: column.filter "></div>
                                    <span data-ng-if="isOutput(column)"> {{row[column.name]}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="!embed.notpageable" class="row">
                        <div class="col-md-5" style="line-height: 36px;">
                            每页显示
                            <select data-ng-model="embed.pageable.size" convert-to-number>
                                <option value="10" >10</option>
                                <option value="25">25</option>
                                <option value="50" selected>50</option>
                                <!--<option value="100">100</option>-->
                            </select>
                            条记录，当前显示 {{embed.pageable.fromNumber}} 到 {{embed.pageable.toNumber}} 条，共 {{embed.pageable.totalElements}} 条记录
                        </div>
                        <div class="col-md-7">
                            <uib-pagination
                                    total-items="embed.pageable.totalElements"
                                    ng-model="embed.pageable.number"
                                    items-per-page="embed.pageable.size"
                                    max-size="5"
                                    class="pull-right table-pagination">
                            </uib-pagination>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="!notpageable" class="row">
        <div class="col-md-5" style="line-height: 36px;">
            每页显示
            <select ng-if="!pageableConfig" data-ng-model="pageable.size" convert-to-number>
                <option value="10" >10</option>
                <option value="25">25</option>
                <option value="50" selected>50</option>
                <!--<option value="100">100</option>-->
            </select>
            <select ng-if="pageableConfig" data-ng-model="pageable.size" convert-to-number>
                <option value="{{pageableConfig.first}}" selected="selected" ng-bind="pageableConfig.first"></option>
                <option value="{{pageableConfig.second}}" ng-bind="pageableConfig.second"></option>
                <option value="{{pageableConfig.third}}" ng-bind="pageableConfig.third"></option>
                <option value="{{pageableConfig.forth}}" ng-bind="pageableConfig.forth"></option>
            </select>
            条记录，当前显示 {{pageable.fromNumber}} 到 {{pageable.toNumber}} 条，共 {{pageable.totalElements}} 条记录
        </div>
        <div class="col-md-7">
            <uib-pagination
                    total-items="pageable.totalElements"
                    ng-model="pageable.number"
                    items-per-page="pageable.size"
                    max-size="5"
                    class="pull-right table-pagination">
            </uib-pagination>
        </div>
    </div>
    <div class="table-scrollable theadFake" style="display:none;position:fixed;overflow: hidden;">
        <table class="table table-bordered table-hover ng-table table-id">
            <thead class="thead-float" style="display:none;top:110px;z-index:99999;width:100%">
            <tr class="thead-float-tr">
                <th data-ng-repeat="column in columns" width="{{column.width}}"
                    rowspan="{{column.parent?1:2}}"
                    data-ng-if="undefined === column.parent || (undefined !== column.parent && undefined !== column.parent.col)"
                    colspan="{{column.parent.col?column.parent.col:1}}">
                    {{column.parent?column.parent.label:column.label}}
                </th>
            </tr>
            <tr>
                <th data-ng-repeat="column in columns" data-ng-if="undefined !== column.parent" width="{{column.width}}">
                    {{column.label}}
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>

