<script type="text/ng-template" id="operation.html">
    <div class="text-center">
        <button class="btn btn-common btn-xs" data-ng-click="onActionClick(row.id,'view')">查看</button>
        <button class="btn btn-edit btn-xs" data-ng-click="onActionClick(row.id,'edit')">编辑</button>
        <button class="btn btn-common btn-xs" data-ng-click="onActionClick(row.id,'del')">删除</button>
    </div>
</script>
<div class="list-content">
    <div class="pull-left">
        <a href="#/equalAmount/list.html" class="btn blue">
            <i class="fa fa-mail-reply"></i><span>返回</span>
        </a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <form class="form-horizontal" role="form">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">贷款额度</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="请输入贷款额度" enter-search="search"
                                           ng-model="condition.quota"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">贷款利率</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="请输入贷款利率" enter-search="search"
                                           ng-model="condition.interestRate"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">利息折扣</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="请输入利息折扣" enter-search="search"
                                           ng-model="condition.interestRebate"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">贷款类型</label>
                                <div class="col-md-8">
                                    <select class="form-control ng-touched" data-placeholder="贷款类型"
                                            required
                                            ng-model="condition.equalAmountType" select2>
                                        <option ng-repeat="equalAmountType in equalAmountTypes" value="{{equalAmountType.key}}"
                                                ng-bind="equalAmountType.text"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="createdDate" class="control-label col-md-4">贷款开始日期</label>
                                <div class="col-md-8">
                                    <div date-time-append class="input-group">
                                        <input id="createdDate"
                                               class="form-control"
                                               placeholder="贷款开始日期"
                                               ng-model="condition.dateOfLoan"
                                               format="YYYY-MM-DD"
                                               date-time max-view="year" min-view="date" view="month"
                                               required
                                               auto-close="true"/>
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">贷款期数</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="请输入贷款期数" enter-search="search"
                                           ng-model="condition.stageNumberOfMonth"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button class="btn red delete ng-scope" ng-click="search()">
                            <i class="fa fa-search"></i>
                            <span>预览</span>
                        </button>
                        <button class="btn btn-add ng-scope" ng-click="showCreate()">
                            <i class="fa fa-save"></i>
                            <span>保存</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span class="pull-right table-summary">共还款<label data-ng-bind="(+sumPayMoney)/100"></label>，含利息<label data-ng-bind="(+sumInterest)/100"></label></span>
            <ng-table
                    columns="columns"
                    sort="sort"
                    order="order"
                    rows="rows"
                    notpageable="true"
                    selectable="selectable">
            </ng-table>
        </div>
    </div>
</div>
<script type="text/ng-template" id="showEqualAmountModal.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="btn_cancel()"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div style="max-height: 390px;overflow-y: auto;" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">贷款名称</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="请输入贷款名称" enter-search="search"
                                   ng-model="condition.equalAmountName"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">贷款来源</label>
                        <div class="col-md-7">
                            <select class="form-control ng-touched" data-placeholder="贷款来源"
                                    required
                                    ng-model="condition.equalAmountSource" select2>
                                <option ng-repeat="equalAmountSource in equalAmountSources" value="{{equalAmountSource.key}}"
                                        ng-bind="equalAmountSource.text"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn blue" data-dismiss="modal" ng-click="btn_ok()" aria-hidden="true">
            <i class="fa fa-check" aria-hidden="true"></i>&nbsp;<span>确定 </span>
        </button>
        <button type="button" class="btn" data-dismiss="modal" ng-click="btn_cancel()" aria-hidden="true">
            <i class="fa fa-close" aria-hidden="true"></i>&nbsp;<span>取消 </span>
        </button>
    </div>
</script>