<div class="form-content">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-back" ng-click="back()">返回</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box">
                    <div class="portlet-title">
                        <div class="caption">
                            账单基本信息
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                            <a href="" class="fullscreen" data-original-title="" title=""> </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <form name="form" class="form-horizontal" role="form" novalidate>
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">账单名称
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                <p class="form-control-static" ng-bind="model.name "></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">用途
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                <p class="form-control-static" ng-bind="model.useTo "></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">描述
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                <p class="form-control-static" ng-bind="model.description "></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">账单产生时间
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                <p class="form-control-static" ng-bind="model.billingCreateDate | timestampToDate"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">账单金额
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                <p class="form-control-static" ng-bind="model.billingMoney"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">账单类型
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                <p class="form-control-static" ng-bind="model.billingType | billingTypesFilter"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">剩余金额
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                <p class="form-control-static" ng-bind="model.amountMoney"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">账单已结清
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                <p class="form-control-static" ng-bind="model.isFinish | isFinishFilter"
                                                   ng-if="model.isFinish">是</p>
                                                <p class="form-control-static" ng-bind="model.isFinish | isFinishFilter"
                                                   ng-if="!model.isFinish">否</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box">
                <div class="portlet-title">
                    <div class="caption">
                        还款记录
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                        <a href="" class="fullscreen" data-original-title="" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form name="formCorporation" class="form-horizontal" role="form" novalidate>
                        <div class="form-body">
                            <div class="row">
                                <ng-table
                                        columns="columns"
                                        sort="sort"
                                        order="order"
                                        rows="rows"
                                        notpageable="true">
                                </ng-table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>